Source: android-permissions
Section: utils
Priority: extra
Maintainer: Hans-Christoph Steiner <hans@eds.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Vcs-Git: git://anonscm.debian.org/collab-maint/android-permissions.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/android-permissions.git

Package: android-permissions
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: create groups that represent Android permissions
 Android is based on the Linux kernel, but is not otherwise a UNIX operating
 system. That means that Debian can be installed in parallel with Android,
 using the same kernel as Android.  Android uses Linux users and groups quite
 differently than GNU/Linux.  Each app has its own user account, and every
 part of that app runs as that user. Linux groups are used to represent system
 permissions, like internet access.  This package sets up all of the Android
 persmissions groups in Debian so that you can easily give Debian processes
 Android permissions by adding the user that process runs as to the group that
 represented the permission.  Specifically, this package adds all groups for
 each ID in Android's system/core/include/private/android_filesystem_config.h
 to /etc/group.
 .
 This is required in Debian+Android setups created by Android apps such as
 Debian Kit and Lil' Debi.
 .
 This package is based on Sven-Ola Tuecke's 'andromize' package.
