Source: android-permissions
Section: utils
Priority: extra
Maintainer: Hans-Christoph Steiner <hans@eds.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.5
Vcs-Git: git://anonscm.debian.org/collab-maint/android-permissions.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/android-permissions.git

Package: android-permissions
Architecture: all
Depends: ${misc:Depends}
Description: create gids that represent Android permissions
 Android is based on the Linux kernel, but is not otherwise a UNIX operating
 system. That means that Debian can be installed in parallel with Android,
 using the same kernel as Android.  Android uses Linux uids and gids quite
 differently than GNU/Linux.  Each app has its own uid and gid, and every part
 of that app runs as that uid/gid. Linux groups are used to represent system
 permissions, like internet access.  This package sets up all of the Android
 permissions uids and gids in Debian so that you can easily give Debian
 processes Android permissions by adding the user that process runs as to the
 group that represents the permission, e.g. aid_inet for network access
 permission.  Specifically, this package adds all uids and gids for each
 permission listed in Android's
 system/core/include/private/android_filesystem_config.h to /etc/passwd and
 /etc/group.
 .
 This is required in Debian+Android setups created by Android apps such as
 Debian Kit and Lil' Debi.  This probably only makes sense to install on a
 Debian chroot running on Android.
 .
 This package is based on Sven-Ola Tuecke's 'andromize' package.
